#landing-container-fluid {
  background-image: url("../img/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container#head {
  opacity: 2;
  background-repeat: no-repeat;
  background-size: cover;
}

.testbox3 {
        width: 760px;
        padding: 10px;
        border: 2px solid gray;
        height: 600PX;
        margin-right: 4px;
        color: black;
        box-shadow: 10px 10px 10px #000000;
        text-align: left;
        vertical-align: middle;
        float: left;
}

.navbar{
    position: relative;
    min-height: 115px;
    margin-bottom: 43px;
    border: 25px solid #8a6d3b;
    text-align: center;
    text-shadow: snow;
    touch-action: pan-right;
    text-decoration-line: blink;
    text-orientation: sideways;
    text-decoration-color: cornflowerblue;
    margin-right: 61px;
    margin-left: 91px;
    font-size: 50px;
}
